doctype html
html
  head
    title Super chat
    link(rel='stylesheet' href='main.css')
  body
    .wrapper
      .chat
      input.chat-input(id='chatInput' palceholder='Wpisz tu swoja wiadomosc...')
      button.chat-btn(id='chatBtn') Send
    
    script(type='text/javascript' src='app.js')
